body {
  background: var(--joy-palette-background-body);
}

:root {
  --appbar-background: rgba(255, 255, 255, 0.7);
}

[data-joy-color-scheme="dark"] {
  --appbar-background: rgba(19, 20, 24, 0.7);
}

iframe {
  color-scheme: light;
}
